<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Ninjames101</title>
  <link rel="icon" type="image/png" href="http://singaporeninjutsu.com/wp-content/uploads/2014/11/ninja-icon.png">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Narrow" rel="stylesheet">

  <link rel="stylesheet" href="main.css">


</head>

<body>
  <nav>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Contact Me
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="mailto:admin@ninjames101.ninja">Email</a></li>
        <li><a href="https://www.linkedin.com/in/ninjames101/" target="_blank">LinkedIn</a></li>
      </ul>
    </div>
    </div>
  </nav>

  <header class="page-header text-center">


  <div class="media ">
  <div class="media-right">
      <img class="media-object" src="sup.png" alt="greeting">
  </div>
  <div class="media-body">
    <h1 class="media-heading">Home of the Infantryman Developer</h1>
    <p class="">Full Stack Web Developer && Ninja Problem Solver && Aspiring Educator</p>
  </div>
</div>

  </header>
  <main>
    <section class="container-fluid">
      <h1 class="text-center well">Projects</h1>

      <div class="row">
        <div class="col-md-4">

          <h4 class="text-center">Rockies</h4>
          <a target="_blank" href="https://github.com/ninjames101/Rockies"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
          <a target="_blank" href="https://rockies-locator.surge.sh"><i class="fa fa-eye fa-3x" aria-hidden="true"></i></a>
          <a target="_blank" href="https://www.youtube.com/watch?v=CUHDTUHVWe0"><i class="fa fa-youtube-square fa-3x" aria-hidden="true"></i></a>


          <p>I designed an app that allows you to track if the Rockies have a home game today (today being whatever day you are using the app). The app will also tell you who the Rockies are playing as well as what time they are playing. If the Rockies aren't
            home it will also tell you where the away game is being played.
          </p>
        </div>
        <div class="col-md-4">

          <h4 class="text-center">The 46 Open</h4>
          <a target="_blank" href="https://github.com/racket-tiers/the46open"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
          <a target="_blank" href="https://infinite-shelf-75058.herokuapp.com/"><i class="fa fa-eye fa-3x" aria-hidden="true"></i></a>
          <a target="_blank" href="https://youtu.be/Qq73UuLg8GU/"><i class="fa fa-youtube-square fa-3x" aria-hidden="true"></i></a>
          <p>App that tracks matches, rates players based on wins and losses and shows match history. For Ping Pong players of galvanize. Future Version Features: Ranking system and match player functionality.
          </p>
        </div>
        <div class="col-md-4">

          <h4 class="text-center">YourSpace</h4>
          <a target="_blank" href="https://github.com/Brad-Peach-and-the-Pitt/yourspace"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
          <a target="_blank" href="https://yourspce.herokuapp.com/"><i class="fa fa-eye fa-3x" aria-hidden="true"></i></a>
          <a target="_blank" href="https://www.youtube.com/watch?v=oO5XluiZveg&t=3s"><i class="fa fa-youtube-square fa-3x" aria-hidden="true"></i></a>
          <p>Room Reservation App that is very admin friendly. It is a plug and play design that can be used in any shared workspace or school environment. Designed to allow more control of users in the hopes of providing more accountability and more reliability.
          </p>
        </div>
      </div>
    </section>

    <section class="container-fluid">
      <h1 class="text-center well">Other Stuff</h1>
      <div class="row">


        <div class="col-md-4">

          <h4 class="text-center">My Github</h4> <a target="_blank" href="https://github.com/ninjames101"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
          <p>
            A site where all of my other projects are hosted. Some are complete than others but feel free to stop by and have a look
          </p>
        </div>

        <div class="col-md-4">
          <h4 class="text-center">Crayola Corner</h4>
          <a target="_blank" href="https://www.youtube.com/playlist?list=PL2wDo1RnBFlTQBVfflHWJK3ZOdRn395er"><i class="fa fa-youtube-square fa-3x" aria-hidden="true"></i></a>
          <a target="_blank" href="https://github.com/CrayolaStyle"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
          <p>
            At Galvanize I learned a lot about being a web developer but I also learned a lot about myself. Through out my time there I developed a passion for teaching. I got the opportunity to TA a foundations class there and I was hooked. If I can give back a
            tenth of what Galvanize has given me and help that next developer find their spark or passion or help them to that "ah-ha" moment, then I will have lived a very happy life. So this YouTube channel is dedicated to just that. I break things
            down and solve coding problems and give people a chance to code along.
          </p>


        </div>
        <div class="col-md-4">
          <h4 class="text-center">My Vlog</h4>
          <a target="_blank" href="https://www.youtube.com/playlist?list=PL2wDo1RnBFlSjB0nkb7DI72UttpCyDxTK"><i class="fa fa-youtube-square fa-3x" aria-hidden="true"></i></a>
          <p>
            When I first started the Immersive program at Galvanize I thought it would be neat to have a vlog. The idea behind it was to provide people with some insight as to what the program was for a student. It also served as a medium for me to share my feelings.
            Sometimes it is nice to just get thoughts out of your head and put them some where else. In the future I would like to have a vlog/blog site but for now I have YouTube.
          </p>


        </div>
      </div>
    </section>



    <section class="container-fluid">
      <h1 class="text-center well">About Me</h1>


      <button class=" btn btn-default well" id="pop">View Resume</button>

    <!-- Creates the bootstrap modal where the image will appear -->
    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-body">
          <img src="JamesSchultzResume.png" id="imagepreview" style="width: 800px%; height: 1000px;" >

          <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
    </div>

      <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h4 class="text-center">Bio</h4>
          <p>
            Hmmmm, about me? I am originally from Mobile, AL but I have been in Colorado since middle school. I have been living in the actual city of Denver for just over two years now and am slowly learning all there is to know about this awesome place. I am an
            Infantryman turned student, turned bouncer, turned red bull employee, turned student again. I entered the Galvanize web dev program just over in Feb 2017 and at 30 years old, finally found something that I am passionate about, coding. I think
            my interest in coding stemmed from a curiosity about how the world works but it has grown into something larger. I see coding as an invaluable skill. It is the power to fix things you had no idea were broken and to affect real change in the
            world around you. Becoming a developer is uncomfortable. You are constantly exposed to new view points and different ideas and ways of doing things you never thought existed. In this environment you have no choice but to grow. I love it. I
            have never been part of a community so diverse, so interesting and so intelligent in my life. Hmmmm so who am I? Well like all long winded, self indulgent paragraphs I will end with a quote. Aristotle once said "We are what we repeatedly do..."
            if that is the case, then I am a line in the console that says "unexpected token" but I am slowly changing that.
          </p>
        </div>
    </section>
  </main>
  <footer class="well container-fluid">
    <div class="row">
      <p class="col-md-4 text-center"><i class="fa fa-copyright" aria-hidden="true"></i> All Rights Reserved ninjames101.ninja 2017</p>
      <p class="col-md-4 text-center">Email me: admin@ninjames101.ninja</p>
      <p class="col-md-4 text-center"><a target="_blank" href="https://www.galvanize.com/denver-platte"><img src="large.png" alt=""></a>Click the pineapple to learn more about Galvanize</p>

    </div>

  </footer>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/72a23593ba.js"></script>

  </script>
  <script type="text/javascript" src="app.js">

  </script>


</body>

</html>
